* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  /* width: 100%; */
  /* max-width: 1200px; */
  width: 1200px;
  margin: 0 auto;
  padding: 4rem;
}

body {
  font-family: sans-serif;
  background-color: aqua;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.search-bar input {
  width: 75%;
  padding: 0.75rem 1rem;
  font-size: 1.2rem;
  border: 2px solid #ccc;
  border-radius: 999px; /* Fully rounded corners */
  outline: none;
  transition: 0.2s ease;
  text-align: center;
}

.search-bar input:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}

.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.weaher-icon {
  display: flex;
}
