*,
*::before,
*::after {
  box-sizing: border-box;
}

/* translucent backgrounds
--bg: rgba(0, 0, 0, 0.1); --> Black
--bg: rgba(255, 255, 255, 0.5); --> white

--bg: rgba(255, 255, 255, 0.1); --> Light glass effect (blurry panels)

--bg: rgba(0, 0, 0, 0.4); --> Dark overlay

--bg: rgba(255, 255, 255, 0.5); -->  Frosted glass
backdrop-filter: blur(10px);

*/

:root {
  --bg: rgba(255, 255, 255, 0.5);
  --text: #e9edf2;
  --shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 2px 6px rgba(0, 0, 0, 0.2);
  --muted: #9aa3ae;
}
html,
body {
  height: 100%;
}

body {
  margin: 0;
  /* Use of operating system’s built-in modern UI font first. If that’s not available, try these similar clean sans-serif fonts, and if all else fails, use any sans-serif font. */
  font-family: system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue",
    Arial, sans-serif;
  background-image: url("img/railway-2818748_1280.jpg");
  background-size: cover; /* fill screen */
  background-repeat: no-repeat; /* don't tile */
  background-position: center; /* center image */
  line-height: 1.6;
}

/* Container Section */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto 0;
  padding: 1rem;
  background: var(--bg);
  backdrop-filter: blur(5px); /*to match Frosted glass background*/
  border: 2px solid #ccc;
  border-radius: 12px; /* Fully rounded corners */
}

.header {
  position: relative;
  /* margin: 1.5rem auto 0; */

  /* padding: 1rem 0 2rem; */
}

.search-bar {
  display: flex;
  justify-content: center;
  /* margin-bottom: 2rem; */
}

.search-bar input {
  width: 45%;
  padding: 0.75rem 1rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 999px; /* Fully rounded corners */
  outline: none;
  transition: 0.2s ease;
  text-align: center;
  background: var(--bg);
  backdrop-filter: blur(5px);
}

.search-bar input:focus {
  border-color: #050b11;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
  background: var(--bg);
  backdrop-filter: blur(5px);
}

.weather-info-container {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px; */
  width: 100%; /* Take full width of the parent container */
  max-width: 600px; /* Weather card should be no bigger than main container of 1200px */
  margin: 2rem auto;
  /* background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px); 
  border-radius: 12px;
  border: 1px var(--shadow) rgba(255, 255, 255, 0.2); */
}

.weather-grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); */
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.weather-card {
  border: 1px solid #262c3b;
  border-radius: 16px;
  /* padding: 0.5rem; */
  box-shadow: var(--shadow);
  transition: transform 0.08s ease, box-shadow 0.2s ease, border-color 0.2s ease;
}

.weather-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3), 0 5px 10px rgba(0, 0, 0, 0.2);
  border-color: #2e3a4f;
}

.weather-misc-container {
  width: 100%; /* Take full width of the parent container */
  max-width: 600px; /* Weather card should be no bigger than main container of 1200px */
  margin: 2rem auto;
}

.weather-misc-grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); */
  grid-template-columns: repeat(
    4,
    1fr
  ); /* Want these cards to sit on the same row */
  gap: 0.5rem;
}

.weather-misc-card {
  border: 1px solid #262c3b;
  border-radius: 16px;
  /* padding: 0.5rem; */
  box-shadow: var(--shadow);
  transition: transform 0.08s ease, box-shadow 0.2s ease, border-color 0.2s ease;
  /* width: 150px; // --> commented this out...seems to be forcing the size of containers to be thrown off
  justify-self: center; */
}

.weather-misc-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3), 0 5px 10px rgba(0, 0, 0, 0.2);
  border-color: #2e3a4f;
}

.weather-future-container {
  width: 100%; /* Take full width of the parent container */
  max-width: 600px; /* Weather card should be no bigger than main container of 1200px */
  margin: 2rem auto;
}

.weather-future-grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); */
  grid-template-columns: repeat(
    4,
    1fr
  ); /* Want these cards to sit on the same row */
  gap: 0.5rem;
}

.weather-future-card {
  border: 1px solid #262c3b;
  border-radius: 16px;
  padding: 0.3rem;
  box-shadow: var(--shadow);
  transition: transform 0.08s ease, box-shadow 0.2s ease, border-color 0.2s ease;
  /* width: 200px;
  justify-self: center; */
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.weather-future-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3), 0 5px 10px rgba(0, 0, 0, 0.2);
  border-color: #2e3a4f;
}

/* This content below will be styling the left top card with city, logo, and description */
.left-card {
  display: flex;
  flex-direction: column; /* STACKS vertically */
  align-items: flex-end; /* Align text to the right */
  gap: 0.3rem;
  justify-content: space-between;
  align-items: center;
}

/* This content below will be styling the right top card with temp, feels like, time, and date classes */
.right-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  gap: 1rem;
}

.left-side-of-right-card .temp {
  font-size: 3.5rem;
  font-weight: bold;
}

.right-side-of-right-card {
  display: flex;
  flex-direction: column; /* STACKS vertically */
  gap: 0.3rem;
  font-style: italic;
}

.right-side-of-right-card p {
  margin: 0;
  font-size: 0.9rem;
}

/* This content below will be styling for innerHTML elements defined in javascript */
/* Center all content inside each misc card */
.weather-misc-card .misc-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem; /* spacing between icon/value/label */
  text-align: center;
}

/* Weather Icon */
.weather-misc-card i {
  font-size: 1.4rem;
  /* color: var(--text); */
}

/* Value (big number) */
.weather-misc-card .value {
  font-size: 1.1rem;
  font-weight: bold;
  /* color: var(--text); */
}

/* Label under the value */
.weather-misc-card .label {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
